.aside {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: 64px;
  transition: ease-out .3s;
}

.active {
  color: var(--text-primary-color);
}

.link:hover {
  text-shadow: 3px 3px 20px rgba(51, 51, 255),
  -2px 1px 30px rgba(51, 51, 255);
}

.link:last-of-type {
  margin-bottom: 80px;
}
