.board {
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 80vh;
  padding: 0;
}

.wrapper {
  display: flex;
  gap: 36px;
}

.list {
  display: grid;
  min-width: 272px;
  max-width: 272px;
  overflow-y: hidden;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(10, 1fr);
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shadow {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}
