.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding-top: 120px;
  gap: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
}

.buttons {
  align-self: flex-end;
}

