.wrapper {
    position: fixed;
    display: flex;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.container {
    min-width: 720px;
    background: #1C1C21;
    position: relative;
    border-radius: 40px;
    height: fit-content;
    padding: 40px 40px 60px;
    z-index: 3;
    box-sizing: border-box;
}

.close {
    position: absolute;
    top: 60px;
    right: 40px;
    z-index: 4;
}

.close:hover {
    cursor: pointer;
}

.title {
    margin: 0;
    height: 64px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}