.wrapper {
  position: fixed;
  display: flex;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.container {
  min-width: 720px;
  max-width: 720px;
  background: #1C1C21;
  position: relative;
  border-radius: 40px;
  max-height: 95vh;
  overflow-y: auto;
  padding: 40px 40px 60px;
  box-sizing: border-box;
}

.container::-webkit-scrollbar-track {
  margin: 40px 0;
}

.close {
  position: absolute;
  top: 60px;
  right: 40px;
}

.close:hover {
  cursor: pointer;
}

.title {
  margin: 0;
  height: 64px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
